/* 카테고리 섹션 속성 */
.main-container {
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: center;
}

.category-container {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  padding: 30px;
}

.category-grid-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  row-gap: 10%;
  column-gap: 10%;
}

.category-item-container {
  /* #RESPONES */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 100px; */
  /* background-color: aqua; */
}

.category-item-container > .category-item > p {
  text-align: center;
  font-size: 42px;
  margin-top: 10px;
  /* padding-top: 570px; */
}

.category-item {
  /* #RESPONES */
  background-color: white;
  border-radius: 50px;
  border: 3px solid black;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  /* margin-top: 5%; */
}
.category-item:hover {
  cursor: pointer;
  transition: 0.19s;
  background-color: whitesmoke;
}
.category-item > img {
  display: block;
  margin: 10px auto;
  width: 70%;
  height: 70%;
  object-fit: scale-down;
}

.grid1 {
  /* border-right: 2px solid var(--cat-line);
  border-bottom: 2px solid var(--cat-line); */
  grid-column: 1;
  grid-row: 1;
}

.grid2 {
  /* border-bottom: 2px solid var(--cat-line); */
  grid-column: 2;
  grid-row: 1;
}

.grid3 {
  /* border-right: 2px solid var(--cat-line); */
  grid-column: 1;
  grid-row: 2;
}

.grid4 {
  grid-column: 2;
  grid-row: 2;
}

/* 카테고리 메뉴 버튼의 이미지 속성들 */
.coffee-icon {
  /* content: url(assets/img/coffee-big.png); */
}

.beverage-icon {
  /* content: url(assets/img/beberage-big2.png); */
}

.tea-icon {
  /* content: url(assets/img/tea-big.png); */
}

.dessert-icon {
  /* content: url(assets/img/dessert-big.png); */
}
